<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reading List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<p th:text="'Hello World ylc!'">3333</p>
<h2>Your Reading List</h2>
<div th:unless="${#lists.isEmpty(books)}">
    <dl th:each="book : ${books}">
        <dt class="bookHeadLine">
            <span th:text="${book.title}">Title</span> by
            <span th:text="${book.author}">Author</span>
            (ISBN：<span th:text="${book.isbn}">ISBN</span>)
        </dt>
        <dd class="bookDescription">
            <span th:if="${book.description}" th:text="${book.description}">description</span>
            <span th:if="${book.description eq null}">No description available</span>
        </dd>
    </dl>
</div>
<div th:if="${#lists.isEmpty(books)}">
    <p>You have no books in your book list</p>
</div>
<span th:text="${reader}">Reader</span>
<span th:text="${amazonID}">amazonID</span>
<hr/>
<h3>Add a book</h3>
<form method="post">
    <label for="title">Title:</label><input type="text" id="title" name="title" size="50" /><br/>
    <label for="author">Author:</label><input type="text" id="author" name="author" size="50" /><br/>
    <label for="isbn">ISBN:</label><input type="text" id="isbn" name="isbn" size="15" /><br/>
    <label for="description">Description:</label><br/><textarea id="description" name="description" cols="80" rows="5"></textarea><br/>
    <input type="submit">
</form>
</body>
</html>